/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 сент. 2019 г., 13:50:36
    Author     : console
*/

body {background: #ffffff ; padding: 0; margin: 0;}
footer {height: 100px;}
header {}
.filters-insurance {background: #ffffff;}
.result-insurance {background: #ffffff;}
.result-insurance .insurance-price {font-size: 18px; font-weight: bold;}
/*
input[type="checkbox"], input[type="radio"] {position: relative !important; visibility: visible !important;}
*/

